@font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./font/LuckiestGuy-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Luckiest Guy';
    color: white;
    font-weight: 400;
    /* overflow: hidden; active when game finished*/
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/3. Background/Layers/5. Water/D1.png');
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    margin-top: -6.861125rem;
    padding-bottom: 2rem;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}

canvas {
    background-color: black;
    border-radius: 10px;
}

#startScreen {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-image: url('./img/3. Background/Mesa de trabajo 1.png');
    background-position: center;
    background-size: cover;
    gap: 10rem;
}

#startScreen h1 {
    margin: 5rem 0 0 25rem;
    font-size: 8rem;
}

#startScreen .arrowButtons {
    display: flex;
    gap: 5rem;
}

#startScreen img {
    height: 6rem;
    transition: 80ms ease-in-out;
}

#startScreen img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.instructions {
    z-index: 3;
    position: fixed;
    display: flex;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructionsClose {
    width: 2rem;
    position: fixed;
    margin: 0 42.5rem 20em 0;
}

.instructions img:not(.instructions img:nth-child(3)) {
    width: 2.5rem;
    transition: 80ms ease-in-out;
    padding: 1rem;
    margin: 0 -4rem;
    z-index: 4;
}

.instructions img:hover:not(.instructions img:nth-child(3)) {
    cursor: pointer;
    transform: scale(1.15);
}

.instructions img:nth-child(3) {
    width: 60rem;
}

#gameWon {
    display: flex;
    width: 720px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameWon img:first-child {
    height: calc(100% - 6rem);
}

#gameWon img:last-child {
    height: 6rem;
    width: min-content;
    transition: 80ms ease-in-out;
}

#gameWon img:last-child:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#gameLost {
    display: flex;
    width: 720px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameLost img:nth-child(1) {
    width: 100%;
}

#gameLost img:nth-child(2) {
    width: 200px;
    margin-top: -100px;
}

#gameLost img:nth-child(3) {
    height: 6rem;
    width: min-content;
    transition: 80ms ease-in-out;
}

#gameLost img:nth-child(3):hover {
    cursor: pointer;
    transform: scale(1.05);
}

#canvasButtons {
    display: flex;
    width: 720px;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: -3.5rem;
}

#canvasButtons img {
    height: 3rem;
    transition: 80ms ease-in-out;
}

#canvasButtons img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#canvasButtons div {
    display: flex;
    gap: 0.5rem;
}

#loadingScreen {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-image: url('./img/3. Background/Layers/5. Water/D1.png');
    background-position: center;
    background-size: cover;
}

/* TODO: Make Game Won/Lost screen resposive */
/* TODO: Make Start screen & loading screen responsive */
/* TODO: Make instructions responsive */

#loadingScreen h1 {
    margin: 0;
    font-size: 4rem;
}

#loadingScreen img {
    width: 200px;
    height: 200px;
    padding-right: 25px;
}

progress {
    border-radius: 10px; 
    width: 720px;
    height: 2rem;
    background-color: white;
    border: 0;
  }
  progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 10px;
  }
  progress::-webkit-progress-value {
    background-color: #7FFEE0;
    border-radius: 10px;
  }
  progress::-moz-progress-bar {
    background-color: #7FFEE0;
    color: white;
  }

#mobileCanvasButtons {
    display: none;
    position: absolute;
    top: calc(calc(calc(100vh - 480px) / 2) + 20px - 0.25rem);
    right: calc(calc(calc(100vw - 720px) / 2) + 20px - 0.25rem);
}

#mobileCanvasButtons img {
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
}

.mobileGameButtons {
    display: none;
}

.mobileGameButtons img {
    opacity: 0.5;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

.mobileGameButtons img:active {
    opacity: 1;
}

/* TODO: Edit buttons positions when < 720px width or < 480px height*/

#moveButtons {
    display: flex;
    position: absolute;
    bottom: calc(calc(calc(100vh - 480px) / 2) + 20px - 0.25rem);
    left: calc(calc(calc(100vw - 720px) / 2) + 20px - 0.25rem);
    flex-direction: column;
    align-items: center;
}

#moveButtons div{
    display: flex;
}

#attackButtons {
    position: absolute;
    align-items: center;
    bottom: calc(calc(calc(100vh - 480px) / 2) + 20px - 0.25rem + 2.5rem);
    right: calc(calc(calc(100vw - 720px) / 2) + 20px - 0.25rem);
    display: flex;
}

#attackButtons img:nth-child(3) {
    width: 2rem;
    height: 2rem;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.d-none {
    display: none !important;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.popping {
    animation-name: popping;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);

    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes popping {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);

    }

    100% {
        transform: scale(1);
    }
}

/* Smartphone */

@media (max-width: 720px) {
    canvas {
        width: 100%;
    }

    #canvasButtons {
        width: 100%;
    }


    #canvasButtons img {
        height: 2rem;
        width: 2rem;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media (max-height: 670px) {
    #gameTitle, #canvasButtons {
        display: none;
    }

    
    #mobileCanvasButtons {
        display: flex;
    }

    .mobileGameButtons {
        display: flex;
    }
}

/* Responsiveness */
@media (max-width: 1024px) {
    .instructions img:nth-child(3) {
        width: 80vw;
    }

    #instructionsClose {
        margin: 0 calc(58vw) 20em 0
    }
}

@media (max-width: 768px) {
    progress {
        width: 80vw;
        height: 1.5rem;
    }

    #loadingScreen h1 {
        font-size: 3rem;
    }

    #loadingScreen img {
        padding-right: 18.75px;
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 425px) {
    progress {
        height: 1rem;
    }

    #loadingScreen h1 {
        font-size: 2rem;
    }

    #loadingScreen img {
        padding-right: 12.5px;
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1000px) {
    #startScreen {
        gap: 6rem;
    }

    #startScreen h1 {
        margin: 0 0 0 18rem;
        font-size: 6rem;
    }

    #startScreen .arrowButtons {
        gap: 4rem;
    }

    #startScreen .arrowButtons img {
        height: 4.5rem;
    }
}

@media (max-width: 775px) {
    #gameWon, #gameLost {
        width: 80vw;
        justify-content: center;
    }

    #gameWon img:first-child {
        height: auto;
        width: 100%;
    }

    #gameLost {
        gap: 5vh;
    }

    #gameLost img:nth-child(2) {
        padding-top: 5vh;
        width: 20vw;
    }

    #gameWon img:last-child, #gameLost img:nth-child(3) {
        height: auto;
        width: 35vw;
    }

    #startScreen {
        gap: 4rem;
    }

    #startScreen h1 {
        margin: 0;
        font-size: 5rem;
    }

    #startScreen .arrowButtons {
        gap: 3rem;
    }

    #startScreen .arrowButtons img {
        height: 3.5rem;
    }
}

