@font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./font/LuckiestGuy-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Luckiest Guy';
    color: white;
    font-weight: 400;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/3. Background/Layers/5. Water/D1.png');
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    margin-top: -6rem;
    margin-bottom: 2rem;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}

canvas {
    background-color: black;
}

#startScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-image: url('./img/3. Background/Mesa de trabajo 1.png');
    background-position: center;
    background-size: cover;
    gap: 10rem;
}

#startScreen h1 {
    margin: 5rem 0 0 25rem;
    font-size: 8rem;
}

#startScreen .buttons {
    display: flex;
    gap: 5rem;
}

#startScreen img {
    height: 6rem;
    transition: 80ms ease-in-out;
}

#startScreen img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.instructions {
    position: fixed;
    display: flex;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#instructionsClose {
    width: 2rem;
    position: fixed;
    margin: 0 42.5rem 20em 0;
}

.instructions img:not(.instructions img:nth-child(3)) {
    width: 2.5rem;
    transition: 80ms ease-in-out;
    padding: 1rem;
    margin: 0 -4rem;
    z-index: 2;
}

.instructions img:hover:not(.instructions img:nth-child(3)) {
    cursor: pointer;
    transform: scale(1.15);
}

.instructions img:nth-child(3) {
    width: 60rem;
}

#gameLost {
    display: flex;
    width: 720px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameLost img:nth-child(1) {
    width: 100%;
}

#gameLost img:nth-child(2) {
    width: 200px;
    margin-top: -100px;
}

#gameLost img:nth-child(3) {
    height: 6rem;
    width: min-content;
    transition: 80ms ease-in-out;
}

#gameLost img:nth-child(3):hover {
    cursor: pointer;
    transform: scale(1.05);
}

.d-none {
    display: none !important;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);

    }

    100% {
        transform: translate(0, -0px);
    }
}