@font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./font/LuckiestGuy-Regular.ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Luckiest Guy';
    color: white;
    font-weight: 400;
    /* overflow: hidden; active when game finished*/
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/3. Background/Layers/5. Water/D1.png');
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 4rem;
    margin-top: -6.861125rem;
    padding-bottom: 2rem;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}

canvas {
    /* width: 100%; */
    background-color: black;
    border-radius: 10px;
}

#startScreen {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-image: url('./img/3. Background/Mesa de trabajo 1.png');
    background-position: center;
    background-size: cover;
    gap: 10rem;
}

#startScreen h1 {
    margin: 5rem 0 0 25rem;
    font-size: 8rem;
}

#startScreen .arrowButtons {
    display: flex;
    gap: 5rem;
}

#startScreen img {
    height: 6rem;
    transition: 80ms ease-in-out;
}

#startScreen img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.instructions {
    z-index: 3;
    position: fixed;
    display: flex;
    inset: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructionsClose {
    width: 2rem;
    position: fixed;
    margin: 0 42.5rem 320px 0;
}

.instructions img:not(.instructions img:nth-child(3)) {
    width: 2.5rem;
    transition: 80ms ease-in-out;
    padding: 1rem;
    margin: 0 -4rem;
    z-index: 4;
}

.instructions img:hover:not(.instructions img:nth-child(3)) {
    cursor: pointer;
    transform: scale(1.15);
}

.instructions img:nth-child(3) {
    width: 60rem;
}

#gameWon {
    display: flex;
    width: 720px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameWon img:first-child {
    height: calc(100% - 6rem);
}

#gameWon img:last-child {
    height: 6rem;
    width: min-content;
    transition: 80ms ease-in-out;
}

#gameWon img:last-child:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#gameLost {
    display: flex;
    width: 720px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameLost img:nth-child(1) {
    width: 100%;
}

#gameLost img:nth-child(2) {
    width: 200px;
    margin-top: -100px;
}

#gameLost img:nth-child(3) {
    height: 6rem;
    width: min-content;
    transition: 80ms ease-in-out;
}

#gameLost img:nth-child(3):hover {
    cursor: pointer;
    transform: scale(1.05);
}

#canvasButtons {
    display: none;
    width: 720px;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: -3.5rem;
}

#gameTitle {
    display: none;
}

#canvasButtons img {
    height: 3rem;
    transition: 80ms ease-in-out;
}

#canvasButtons img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#canvasButtons div {
    display: flex;
    gap: 0.5rem;
}

#loadingScreen,
.rotateDeviceScreen {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-image: url('./img/3. Background/Layers/5. Water/D1.png');
    background-position: center;
    background-size: cover;
}

.rotateDeviceScreen {
    display: none;
    gap: 5vh
}

.rotateDeviceScreen h1 {
    font-size: 3rem;
    text-align: center;
}

.rotateDeviceScreen img {
    animation: rotateDevice 2s infinite;
}

#loadingScreen h1 {
    margin: 0;
    font-size: 4rem;
}

#loadingScreen img {
    width: 200px;
    height: 200px;
    padding-right: 25px;
}

progress {
    border-radius: 10px;
    width: 720px;
    height: 2rem;
    background-color: white;
    border: 0;
}

progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #7FFEE0;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #7FFEE0;
    color: white;
}

#mobileCanvasButtons {
    display: flex;
    position: absolute;
    top: calc(calc(calc(100vh - 480px) / 2) + 20px - 0.25rem);
    right: calc(calc(calc(100vw - 720px) / 2) + 20px - 0.25rem);
}

#mobileCanvasButtons img {
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
}

.mobileGameButtons {
    display: flex;
}

.mobileGameButtons img {
    opacity: 0.5;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
}

.mobileGameButtons img:hover {
    /* TODO: test on mobile if it works */
    opacity: 1;
}

#moveButtons {
    display: flex;
    position: absolute;
    bottom: calc(calc(calc(100vh - 480px) / 2) + 20px - 0.25rem);
    left: calc(calc(calc(100vw - 720px) / 2) + 20px - 0.25rem);
    flex-direction: column;
    align-items: center;
}

#moveButtons div {
    display: flex;
}

#attackButtons {
    position: absolute;
    align-items: center;
    bottom: calc(calc(calc(100vh - 480px) / 2) + 20px - 0.25rem + 2.5rem);
    right: calc(calc(calc(100vw - 720px) / 2) + 20px - 0.25rem);
    display: flex;
}

#attackButtons img:nth-child(3) {
    width: 2rem;
    height: 2rem;
}

.noselect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.d-none {
    display: none !important;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.popping {
    animation-name: popping;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Animations */

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);

    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes popping {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);

    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotateDevice {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Different Screen Hights responsiv */
@media (max-height: 720px) {
    #startScreen h1 {
        font-size: 7rem;
    }

    #startScreen .arrowButtons {
        gap: 4rem;
    }

    #startScreen .arrowButtons img {
        height: 5rem;
    }

    #instructionsClose {
        margin: 0 100vh calc(calc(100vh / 16) * 7) 0
    }
}

@media (max-height: 600px) {

    #gameWon,
    #gameLost {
        width: 80vh;
        justify-content: center;
    }

    #gameWon img:first-child {
        height: auto;
        width: 100%;
    }

    #gameLost {
        gap: 5vh;
    }

    #gameLost img:nth-child(2) {
        padding-top: 10vh;
        width: 30vh;
    }

    #gameWon img:last-child,
    #gameLost img:nth-child(3) {
        height: auto;
        width: 50vh;
    }

    .instructions img:nth-child(3) {
        width: 80vh;
    }

    #startScreen {
        gap: 6rem;
    }
    
    #startScreen h1 {
        margin: 0 0 0 14rem;
        font-size: 6rem;
    }

    #startScreen .arrowButtons {
        gap: 3rem;
    }

    #startScreen .arrowButtons img {
        height: 4.5rem;
    }
}

@media (max-height: 480px) {
    #loadingScreen img {
        margin-top: -75px;
    }
}

/* Different Screen widths responsiv  */
@media (max-width: 1024px) {
    .instructions img:nth-child(3) {
        width: 80vw;
    }

    #instructionsClose {
        margin: 0 58vw calc(calc(58vw / 16) * 7) 0
    }

    #startScreen {
        gap: 6rem;
    }

    #startScreen h1 {
        margin: 0 0 0 18rem;
        font-size: 6rem;
    }

    #startScreen .arrowButtons {
        gap: 4rem;
    }

    #startScreen .arrowButtons img {
        height: 4.5rem;
    }
}

@media (max-width: 775px) {
    progress {
        width: 80vw;
        height: 1.5rem;
    }

    #loadingScreen h1 {
        font-size: 3rem;
    }

    #loadingScreen img {
        padding-right: 18.75px;
        width: 150px;
        height: 150px;
    }

    #gameWon,
    #gameLost {
        width: 80vw;
        justify-content: center;
    }

    #gameWon img:first-child {
        height: auto;
        width: 100%;
    }

    #gameLost {
        gap: 5vh;
    }

    #gameLost img:nth-child(2) {
        padding-top: 5vh;
        width: 20vw;
    }

    #gameWon img:last-child,
    #gameLost img:nth-child(3) {
        height: auto;
        width: 35vw;
    }

    #startScreen {
        gap: 4rem;
    }

    #startScreen h1 {
        margin: 0;
    }
}

@media (max-width: 425px) {
    progress {
        height: 1rem;
    }

    #loadingScreen h1 {
        font-size: 2rem;
    }

    #loadingScreen img {
        padding-right: 12.5px;
        width: 100px;
        height: 100px;
    }
}


/* Hide Game Buttons when mouse is detected*/

@media (hover: hover) and (pointer: fine) {

    #gameTitle,
    #canvasButtons {
        display: flex;
    }


    #mobileCanvasButtons {
        display: none;
    }

    .mobileGameButtons {
        display: none;
    }
}

/* Canvas when to small on both sides */

@media (max-width: 720px) and (max-height: 480px) {
    canvas {
        width: unset !important;
        height: 100vh !important;
    }
}

/* Canvas when to small */

@media (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

/* Game Buttons < 480px height or < 720px width */

@media (max-height: 480px),
(max-width: 720px) {

    #moveButtons {
        bottom: calc(20px - 0.25rem);
        left: calc(20px - 0.25rem);
    }

    #attackButtons {
        bottom: calc(20px - 0.25rem + 2.5rem);
        right: calc(20px - 0.25rem);
    }

    #mobileCanvasButtons {
        top: calc(20px - 0.25rem);
        right: calc(20px - 0.25rem);
    }
}

/* Root Size */

@media (max-width: 720px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 680px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 660px) {
    :root {
        font-size: 13px;
    }
}

@media (max-width: 640px) {
    :root {
        font-size: 12px;
    }
}

@media (max-height: 480px) {
    :root {
        font-size: 16px;
    }
}

@media (max-height: 460px) {
    :root {
        font-size: 15px;
    }
}

@media (max-height: 440px) {
    :root {
        font-size: 14px;
    }
}

@media (max-height: 420px) {
    :root {
        font-size: 13px;
    }
}

@media (max-height: 400px) {
    :root {
        font-size: 12px;
    }
}